<ion-header>
     <ion-toolbar color="primary" >
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
           My Trips
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tripdetails" color="primary" (ionChange)="segmentChanged($event)"> 
    <ion-segment-button value="Activetrips" checked>
      Active Trips
    </ion-segment-button>
    <ion-segment-button value="Cancelledtrips">
      Cancelled Trips
    </ion-segment-button>
</ion-segment>
<div [ngSwitch]="tripdetails" >
    <div *ngSwitchCase="'Activetrips'">
    <!-- <ion-card>
          <ion-row>
            <ion-col size="3" text-center style="color:#fff; background:#6A478D;" >
              <ion-icon name="car" style="font-size:40px; "></ion-icon>
              <p style="margin:0;">Regular</p>
            </ion-col>
            <ion-col style="padding-left:10px;">
              <p>Pickup and Drop - 11:00 -20:00</p>
            </ion-col>   
            <ion-col size="2" text-right style="padding:0;" >
              <ion-icon name="close" style="font-size:24px; background:#6A478D; color: #fff;"></ion-icon>
            </ion-col>        
          </ion-row>        
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col size="3" text-center style="color:#fff; background:#6A478D;" >
            <ion-icon name="car" style="font-size:40px; "></ion-icon>
            <p style="margin:0;">Adhoc</p>
          </ion-col>
          <ion-col style="padding-left:10px;">
            <p>10-Dec-2018 to 10-Dec-2018</p>
            <p>Pickup and Drop - 11:00 -20:00</p>
          </ion-col>   
          <ion-col size="2" text-right style="padding:0;" >
            <ion-icon name="close" style="font-size:24px; background:#6A478D; color: #fff;"></ion-icon>
          </ion-col>        
        </ion-row>        
    </ion-card>--> 
    <ion-card *ngFor="let item of mytrips; let i = index">
      <ion-row>
        <ion-col size="3" text-center style="color:#fff; background:#6A478D;" >
          <ion-icon name="car" style="font-size:40px; "></ion-icon>
          <p style="margin:0;">{{item.RequestTypeName}}</p>
        </ion-col>
        <ion-col style="padding-left:10px;">
          <p>{{item.FromDateString}} to {{item.ToDateString}}</p>
          <p>{{item.RequestForName}} - {{item.shiftForGrid}}</p>
        </ion-col>   
        <ion-col size="2" text-right style="padding:0;" >
          <ion-icon name="close" style="font-size:24px; background:#6A478D; color: #fff;" (click)="canceltrip($event,item)"></ion-icon>
        </ion-col>        
      </ion-row>        
  </ion-card>
    </div>
    <div *ngSwitchCase="'Cancelledtrips'">
        <ion-card *ngFor="let item of cancelledtrips; let i = index">
            <ion-row>
              <ion-col size="3" text-center style="color:#fff; background:#6A478D;" >
                <ion-icon name="car" style="font-size:40px; "></ion-icon>
                <p style="margin:0;">{{item.ReqTypeName}}</p>
              </ion-col>
              <ion-col style="padding-left:10px;">
                <p>{{item.StartDateString}} to {{item.EndDateString}}</p>
                <p>{{item.ReqForName}} - {{item.shiftForGrid}}</p>
              </ion-col>                  
            </ion-row>        
        </ion-card>
   <!--  <ion-card>
        <ion-row>
          <ion-col size="3" text-center style="color:#fff; background:#6A478D;" >
            <ion-icon name="car" style="font-size:40px; "></ion-icon>
            <p style="margin:0;">Regular</p>
          </ion-col>
          <ion-col style="padding-left:10px;">
            <p>Pickup and Drop - 11:00 -20:00</p>
          </ion-col>   
          
        </ion-row>        
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="3" text-center style="color:#fff; background:#6A478D;" >
          <ion-icon name="car" style="font-size:40px; "></ion-icon>
          <p style="margin:0;">Adhoc</p>
        </ion-col>
        <ion-col style="padding-left:10px;">
          <p>10-Dec-2018 to 10-Dec-2018</p>
          <p>Pickup and Drop - 11:00 -20:00</p>
        </ion-col>   
       
      </ion-row>        
  </ion-card>--> 
 
    </div>
</div>
</ion-content>
