<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header >
                <ion-toolbar color="primary"  >
                    <ion-title>
                        Menu
                    </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                    <ion-row  color="primary">
                            <ion-col size="2"  style="background-color:#6A478D; color:#fff;" >
                                <ion-icon name="contact" style="font-size: 32px;"></ion-icon>
                            </ion-col>
                            <ion-col size="10" style="background-color:#6A478D; color:#fff;"> 
                                {{globals.displayname}}
                                <div style="font-size: 10px;">{{globals.businesstitle}}</div>
                            </ion-col>
                        </ion-row>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" >
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" [routerLink]="['/Login']" (click)=reset()> 
                            <ion-icon slot="start" name="power"></ion-icon>
                            <ion-label>
                                Logout
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-toolbar style="--padding-top:0;--padding-bottom:0;--padding-start:0;--padding-end:0;" color="primary">
                    <ion-grid style="padding: 0;">
                        <ion-row style="padding: 0;">
                            <ion-col   style="padding: 0;" text-center>
                                Ver - 1.0.0
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-toolbar>
              </ion-footer>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
