<ion-content style="--background: #62b6aa" >
  <ion-progress-bar type="indeterminate" style="--progress-background:#fff;"></ion-progress-bar>
  <img src="assets/images/updateimage.gif" style="width:100%; max-width:450px;">   
     <div style="font-size:24px; padding: 30px; font-weight: bold;" [innerHTML]="updatemsg"></div>

     <div style="padding: 30px; background: #fff; position: fixed; bottom: 0;">Note : Wait until updating your app, or you will be loss some features. Update will completes as soon as your network availability.</div>
</ion-content>
