<ion-header>
   <ion-toolbar color="primary" >
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            My Approval Dashboard
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content  style="--background: url('assets/images/transportbg.jpg') top center/100% 100% no-repeat">
    <ion-grid style="padding: 0;">
            <ion-row style="padding: 0;">
                    <ion-col size="12" text-center style="background: #eee;" >
                        Locations
                        </ion-col>
            </ion-row>
        <ion-row>
          <ion-col size="6">
                <ion-button expand="full" color="primary" style="--margin-top:0;--margin-bottom:0;" routerLink="/myapproval"> 
                    <p><ion-icon name="business" style="font-size:32px;"></ion-icon></p>
                    <p>Chennai/Pune</p></ion-button>               
            </ion-col>
            <ion-col>
                    <ion-button expand="full" style="--margin-top:0;--margin-bottom:0;" routerLink="/myapprovalcip">
                        <p><ion-icon name="settings" style="font-size:32px;"></ion-icon></p>
                        <p>CIP - 1</p>
                    </ion-button>
          </ion-col>
        </ion-row>        
      </ion-grid>
</ion-content>
