// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.sc-ion-card-md-h,.sc-ion-card-ios-h
{
    background: #fff;
}

.sc-ion-segment-ios-s > ion-segment-button
{
    --btn-background:#eee;
}
.sc-ion-segment-md-h.ion-color.sc-ion-segment-md-s > .segment-button-checked 
{
    background: #6A478D;
    color:#fff;
    
}
.sc-ion-segment-md-h.ion-color.sc-ion-segment-md-s > ion-segment-button
{
    background: #fff;
}
.sc-ion-segment-md-h.ion-color.sc-ion-segment-md-s > .segment-button-checked button
{
    border-color:#6A478D;
}
ion-title
{
    padding:0 45px;
}
ion-button
{
    --height:54px;
}
.alertconfirmation{
    color: #ee940e !important;
}

.cardbg  {
background: #3456b3; /* Old browsers */
background: linear-gradient(to right,  #3456b3 0%,#b126bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   }
   .alertmsg
   {
    color:#D3323A
   }