<ion-header>
    <ion-toolbar color="primary" >
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="end" (click)="presentModal()">
            <ion-icon name="scan-circle" slot="icon-only"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--background: url('assets/images/transportbg.jpg') top center/100% 100% no-repeat">
    <ion-card class="cardbg" style="color:#fff;" [routerLink]="['/noshow']"> 
    <ion-row>
        <ion-col size="8">
             <div  style="font-weight: bold; line-height: 30px;"  >
               No-show count ({{thismonth}})
            </div>                      
        </ion-col>
        <ion-col size="4">                          
               <div class="ion-text-center" style="font-size: 24px;">
                {{noshowcount}}
               </div>
           </ion-col>
    </ion-row>
    </ion-card>
    <ion-card class="cardbg" style="color:#fff;" [routerLink]="['/activetrips']"> 
        <ion-row>
            <ion-col size="12">
                 <div class="ion-text-center" style="font-weight: bold; line-height: 30px;"  >
                   Trip Attendance 
                </div>                      
            </ion-col>           
        </ion-row>
        </ion-card>
        <ion-card class="cardbg" style="color:#fff;" [routerLink]="['/vehicletracking']"> 
            <ion-row>
                <ion-col size="12">
                     <div class="ion-text-center" style="font-weight: bold; line-height: 30px;"  >
                       Vehicle Tracking 
                    </div>                      
                </ion-col>           
            </ion-row>
            </ion-card>
    <ion-card style="color:#000;"> 
    <ion-segment [(ngModel)]="dailyroute" color="primary" (ionChange)="segmentChanged($event)">   
        <ion-segment-button value="Pickup" style="height: 36px;">
           Pickup
        </ion-segment-button>
        <ion-segment-button value="Drop" style="height: 36px;">
           Drop
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="dailyroute"  >
        <div *ngSwitchCase="'Pickup'">
            <ion-grid *ngIf="pickupshow; else pickupnorecord" style="padding:0">
               
                <ion-row>
                    <ion-col size="6" style="background: #eee;">
                        <div  class="ion-text-center" style="font-weight: bold; font-size: 10px;  line-height: 20px;"  >
                            Request Type
                        </div>                      
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                          
                            <div  class="ion-text-center" style="font-size: 15px;">
                                {{pickupdetails?.RequestTypeName}} 
                            </div>
                        </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" style="background: #ddd;">
                         <div class="ion-text-center" style="font-weight: bold; font-size: 10px;  line-height: 20px;"  >
                           Area
                        </div>                      
                    </ion-col>
                    <ion-col size="6" style="background: #ddd;">                         
                           <div class="ion-text-center" style="font-size: 15px;">
                               {{pickupdetails?.Area}} 
                           </div>
                       </ion-col>
                    </ion-row>
                    <ion-row>
                    <ion-col size="6" style="background: #eee;">
                         <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Shift
                        </div>                       
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                         
                           <div class="ion-text-center" style="font-size: 15px;">
                               {{pickupdetails?.Shift}} 
                           </div>
                       </ion-col>
                    </ion-row>
                    <ion-row>
                    <ion-col size="6" style="background: #ddd;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                          Route
                        </div>                       
                    </ion-col>
                    <ion-col size="6" style="background: #ddd;">                           
                             <div class="ion-text-center" style="font-size: 15px;">
                                {{pickupdetails?.RouteNumber}} 
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                    <ion-col size="6" style="background: #eee;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                          Boarding Time
                        </div>                       
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                           
                             <div class="ion-text-center" style="font-size: 15px;">
                                {{pickupdetails?.BoardingTime}} 
                            </div>
                        </ion-col>
                      </ion-row>
                    <ion-row>
                    <ion-col size="6" style="background: #ddd;">
                         <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                          Vehicle Model
                        </div>                       
                    </ion-col> 
                    <ion-col size="6" style="background: #ddd;">                           
                           <div class="ion-text-center" style="font-size: 15px;">
                               {{pickupdetails?.VehicleTypeName}} 
                           </div>
                       </ion-col>   
                    </ion-row>
                    <ion-row>               
                    <ion-col size="6" style="background: #eee;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                          Vehicle No 
                        </div>                        
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                         
                            <div class="ion-text-center" style="font-size: 15px;">
                                {{pickupdetails?.RegNumber}} 
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row> 
                    <ion-col size="6" style="background: #ddd;">
                         <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                          Driver Name
                        </div>                        
                    </ion-col>
                    <ion-col size="6" style="background: #ddd;">                         
                           <div class="ion-text-center" style="font-size: 15px;">
                               {{pickupdetails?.DriverName}} 
                           </div>
                       </ion-col>
                    </ion-row>
                    <ion-row>   
                    <ion-col size="6" style="background: #eee;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Driver Contact
                        </div>                       
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                         
                             <div class="ion-text-center" style="font-size: 15px;">
                                    <a href="tel:{{pickupdetails?.DriverContact}}"> {{pickupdetails?.DriverContact}} </a>
                            </div>
                        </ion-col>  
                </ion-row>
            
            </ion-grid>
            <ng-template  #pickupnorecord>
                <ion-row style="background:#eee; padding:5px; border-radius:5px; margin: 5px;">
                        <ion-col>No Records to display</ion-col>
                </ion-row>           
            </ng-template>
        </div>
        <div *ngSwitchCase="'Drop'">
              <ion-grid *ngIf="dropshow; else dropnorecord" style="padding:0"> 
                   
                <ion-row>
                    <ion-col size="6" style="background: #eee;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Request Type
                        </div>                        
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                           
                             <div class="ion-text-center" style="font-size: 15px;">{{ dropdetails?.RequestTypeName}}</div>
                        </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" style="background: #ddd;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Area
                        </div>
                         
                    </ion-col>
                    <ion-col size="6" style="background: #ddd;">                           
                             <div class="ion-text-center" style="font-size: 15px;">{{dropdetails?.Area}}</div>
                        </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" style="background: #eee;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Shift
                        </div>                        
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                           
                            <div class="ion-text-center" style="font-size: 15px;">{{dropdetails?.Shift}}</div>
                        </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" style="background: #ddd;">
                         <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                          Route
                        </div>                        
                    </ion-col>
                    <ion-col size="6" style="background: #ddd;">                          
                            <div class="ion-text-center" style="font-size: 15px;">
                               {{dropdetails?.RouteNumber}}
                           </div>
                       </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" style="background: #eee;">
                         <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Drop Order
                        </div>                      
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                          
                           <div class="ion-text-center" style="font-size: 15px;">
                               {{dropdetails?.DropOrder}}
                           </div>
                       </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" style="background: #ddd;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                          Vehicle Model
                        </div>                       
                    </ion-col>
                    <ion-col size="6" style="background: #ddd;">                           
                            <div class="ion-text-center" style="font-size: 15px;">
                                {{dropdetails?.VehicleTypeName}}
                            </div>
                        </ion-col>
                </ion-row>
                <ion-row> 
                    <ion-col size="6" style="background: #eee;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Vehicle No
                        </div>                        
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                          
                             <div class="ion-text-center" style="font-size: 15px;">
                                {{dropdetails?.RegNumber}}
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row> 
                    <ion-col size="6" style="background: #ddd;">
                        <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Driver Name
                        </div>                       
                    </ion-col>
                    <ion-col size="6" style="background: #ddd;">                           
                             <div class="ion-text-center" style="font-size: 15px;">
                                {{dropdetails?.DriverName}}
                            </div>
                        </ion-col>
                </ion-row>
                <ion-row> 
                    <ion-col size="6" style="background: #eee;">
                         <div class="ion-text-center" style="font-weight: bold; font-size: 10px;line-height: 20px;"  >
                           Driver Contact
                        </div>                       
                    </ion-col>
                    <ion-col size="6" style="background: #eee;">                          
                            <div class="ion-text-center" style="font-size: 15px;">
                                   <a href="tel:{{dropdetails?.DriverContact}}"> {{dropdetails?.DriverContact}}</a>
                           </div>
                       </ion-col>
                </ion-row>
            </ion-grid>
            <ng-template #dropnorecord>
                    <ion-row style="background:#eee; padding:5px;border-radius:5px; margin: 5px;">
                            <ion-col>No Records to display</ion-col>
                    </ion-row>           
            </ng-template>
        </div>
    </div>
</ion-card>

</ion-content>
<ion-footer *ngIf="showfooter">   
        <ion-grid style="padding: 0;">
            <ion-row style="padding: 0;">
                <ion-col style="padding: 0;">
                    <ion-button expand="full" color="primary" style="--margin-top:0;--margin-bottom:0; margin: 0; height: 48px" routerLink="/Adhocrequest">Adhoc Request</ion-button>
                </ion-col>
                <ion-col style="padding: 0;">
                    <ion-button expand="full" color="primary" style="--margin-top:0;--margin-bottom:0; margin: 0;height: 48px" routerLink="/Mytrips">My Trips</ion-button>
                </ion-col>   
            </ion-row>
        </ion-grid>
</ion-footer>
