<ion-header>
    <ion-toolbar color="primary" >
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="--background: url('assets/images/transportbg.jpg') top center/100% 100% no-repeat">
    <ion-segment [(ngModel)]="dailyroute" color="primary" (ionChange)="segmentChanged($event)"> 
        <ion-segment-button value="Pickup" checked>
           Pickup
        </ion-segment-button>
        <ion-segment-button value="Drop">
           Drop
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="dailyroute" >
        <div *ngSwitchCase="'Pickup'">
            <ion-grid *ngIf="pickupshow; else pickupnorecord">
                <ion-row>
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                            Request Type
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{pickupdetails?.RequestTypeName}} 
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #ddd;">
                         <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Area
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{pickupdetails?.Area}} 
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #eee;">
                         <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Shift
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{pickupdetails?.Shift}} 
                        </div>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                          Route
                        </div>
                         <div text-center style="font-size: 15px;">
                            {{pickupdetails?.RouteNumber}} 
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #ddd;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                          Boarding Time
                        </div>
                         <div text-center style="font-size: 15px;">
                            {{pickupdetails?.BoardingTime}} 
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #eee;">
                         <div text-center style="font-weight: bold; font-size: 10px;"  >
                          Vehicle Model
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{pickupdetails?.VehicleTypeName}} 
                        </div>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                          Vehicle No 
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{pickupdetails?.RegNumber}} 
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #ddd;">
                         <div text-center style="font-weight: bold; font-size: 10px;"  >
                          Driver Name
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{pickupdetails?.DriverName}} 
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Driver Contact
                        </div>
                         <div text-center style="font-size: 15px;">
                            {{pickupdetails?.DriverContact}} 
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>
            <ng-template  #pickupnorecord>
                <ion-row style="background:#eee; padding:5px; border-radius:5px; margin: 5px;">
                        <ion-col>No Records to display</ion-col>
                </ion-row>           
            </ng-template>
        </div>
        <div *ngSwitchCase="'Drop'">
              <ion-grid *ngIf="dropshow; else dropnorecord"> 
                <ion-row>
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Request Type
                        </div>
                         <div text-center style="font-size: 15px;">{{ dropdetails?.RequestTypeName}}</div>
                    </ion-col>
                    <ion-col size="4" style="background: #ddd;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Area
                        </div>
                         <div text-center style="font-size: 15px;">{{dropdetails?.Area}}</div>
                    </ion-col>
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Shift
                        </div>
                        <div text-center style="font-size: 15px;">{{dropdetails?.Shift}}</div>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col size="4" style="background: #eee;">
                         <div text-center style="font-weight: bold; font-size: 10px;"  >
                          Route
                        </div>
                         <div text-center style="font-size: 15px;">
                            {{dropdetails?.RouteNumber}}
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #ddd;">
                         <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Drop Order
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{dropdetails?.DropOrder}}
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                          Vehicle Model
                        </div>
                        <div text-center style="font-size: 15px;">
                            {{dropdetails?.VehicleTypeName}}
                        </div>
                    </ion-col>

                </ion-row>
                <ion-row> 
                    <ion-col size="4" style="background: #eee;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Vehicle No
                        </div>
                         <div text-center style="font-size: 15px;">
                            {{dropdetails?.RegNumber}}
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #ddd;">
                        <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Driver Name
                        </div>
                         <div text-center style="font-size: 15px;">
                            {{dropdetails?.DriverName}}
                        </div>
                    </ion-col>
                    <ion-col size="4" style="background: #eee;">
                         <div text-center style="font-weight: bold; font-size: 10px;"  >
                           Driver Contact
                        </div>
                         <div text-center style="font-size: 15px;">
                            {{dropdetails?.DriverContact}}
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>
            <ng-template #dropnorecord>
                    <ion-row style="background:#eee; padding:5px;border-radius:5px; margin: 5px;">
                            <ion-col>No Records to display</ion-col>
                    </ion-row>           
            </ng-template>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar style="--padding-top:0;--padding-bottom:0;--padding-start:0;--padding-end:0;">
        <ion-grid style="padding: 0;">
            <ion-row style="padding: 0;">
                <ion-col style="padding: 0;">
                    <ion-button expand="full" color="primary" style="--margin-top:0;--margin-bottom:0;" routerLink="/Adhocrequest">Adhoc Request</ion-button>
                </ion-col>
                <ion-col style="padding: 0;">
                    <ion-button expand="full" color="primary" style="--margin-top:0;--margin-bottom:0;" routerLink="/Mytrips">My Trips</ion-button>
                </ion-col>   
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
